@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}
body {	
	font-family: 'Open Sans', sans-serif;	
}

a {
	text-decoration: none;
	color: #262f3e;	
	font-weight: 500;
}

.container {
	width: 100%;
	margin: 0 auto;
	max-width: 960px;
}


.hero {
	background-image: url('../images/slide-b.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.hero__navbar {
	padding: 8px 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: #eff6ff;
}

.hero__navbar .container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.hero__title-wrapper {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero__title {
	margin-bottom: 10em;
	text-align: center;
}

.navbar__links {
	list-style-type: none;
	display: flex;
	justify-content: end;
}

.navbar_link {
	padding: 0 1em;	
}

.navbar_link a {	
	font-size: .9em;
	line-height: 20px;
}

.navbar_link a:hover {
	color: #c080da;
}

main {
	padding-top: 2em;
}

.posts {
	display: flex;
	flex-direction: column;
}

.post {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid #CCC;
	padding: 1em 0;
}

.post__image-wrapper {
	width: 300px;
}

.post__image-wrapper a {
	width: 100%;
}

.post__image-wrapper img {
	border-radius: 8px;
	height: 100%;
  width: 300px;
}

.post__description {
	padding: 0 1em;
}
.post__description h4 {
	text-align: left;
	font-size: 16px;
}

.post__description p {
	color: #495057;
	text-align: justify;
}

.videos {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

.video__wrapper {
	border-top: 1px solid #CCC;
	padding: 1em 0;
	flex: 1;
}