@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

*,
*:after,
*:before {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

body {	
	font-family: 'Open Sans', sans-serif;	
	font-size: 12px;
	height: 100%;
}

a {
	text-decoration: none;
	color: #262f3e;	
	font-weight: 500;
}

.container {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


.header {
	align-items: center;
	display: flex ;	
	position: relative;
	width: 100%;
	z-index: 1;
	padding: 0px 10px;	
	position: fixed;
	border-bottom: 1px solid #CCC;	
}

.navbar {
	height: 100%;
	width: 100%;
	background-color: #FFF;
}

.navbar .container {
	display: flex;
	max-width: 1200px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar .container .logo {
	height: 80px;
}

.navbar__options {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-left: .5em;
}

.datepikers,
.datepiker__wrapper,
.search__wrapper{
	display: flex;
	align-items: center;
}

.datepiker__wrapper,
.search__wrapper {
	padding: 0 .5em;
	border: 1px solid #CCC;
	height: 35px;
	border-radius: 4px;	
}

.datepiker__wrapper:last-child,
.search__wrapper {
	margin-left: .5em;
}

.datepiker__wrapper input,
.search__wrapper input{
	border: none;
	color: #717171;
	font-weight: 500;
	font-size: 1.2em;
	height: 100%;
	outline: none;
}

.datepiker__wrapper i,
.search__wrapper i {
	color: #717171;
	font-size: 1.2em;
}
.search__wrapper input{
	flex: 1;
}

.search__wrapper i {
	cursor: pointer;
}

.search__wrapper i:last-child {
	margin-left: .5em;
}
.main {
	padding-top: 80px;
	visibility: hidden;
	height: 100%;
}

.main .container {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
}

.items__wrapper {
	width: 100%;
}

.items {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.items .item {
	display: flex;
	flex-wrap: wrap;	
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
	margin-bottom: 1em;
	min-height: 180px;
}

.items .item .item__image {
	width: 100%;	
}

.item .item__image img {
	width: 100%;
	height: 100%;
}

.item .item__info {
	display: flex;
	flex-direction: column;	
	justify-content: space-between;
	padding: 0 1em .5em;
	flex: 1;
}

.item .item__info__header {
	display: flex;
	width: 100%;
	align-items: center;
}

.item__info__header .item__type,
.item__info .item__name {
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	opacity: 1;
	visibility: visible;
	flex: 1 1 0%;
	overflow: hidden;

}

.item__info__header .item__type {
	font-size: 1.3em;
	color: rgb(113, 113, 113);
}

.item__info__header .header__info__wrapper {
	flex: 1;
}

.header__info__wrapper .item__location {
	font-size: 1.2em;
	font-weight: 500;
  color: rgba(113, 113, 113, 1);
}

.header__info__wrapper .item__location b{
	color: #000;
}

.item__info .header__info__icon {
	padding: 0 0 0 1em;
	color: rgb(113, 113, 113);
	font-size: 1.8em;
	cursor: pointer;
}

.item__info .item__name {
	font-size: 1.5em;
	font-weight: 600;
	color: rgb(0, 0, 0);
	margin-top: .5em;	
}

.item__info .item__content {
	font-size: 1.3em;
	color: rgb(113, 113, 113);	
}

.item .item__info__footer {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.item__info__footer .item__score {
	font-size: 1.3em;
	color: rgb(0, 0, 0);
	font-weight: bold;
	display: flex;
	align-items: flex-end;
}

.item__info__footer .item__score i {
	color: #FF385C;
	font-size: .9em;
	margin-bottom: .3em;
}

.item__info__footer .item__price {
	font-size: 1.5em;
	color: #000;
	color: #222222;
}

.item__info__footer .item__price strong {
	font-weight: 600;
	color: #000;
}

.item__total__price {
	display: flex;
	justify-content: flex-end;
	font-size: .8em;
	text-decoration: underline;
}

/* PAGINATIO */
.pagination {
	list-style: none;
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.pagination li {	
	height: 32px;
	width: 32px;
	font-size: 1.3em;
	font-weight: 600;   
	border-radius: 50%;
	color:  #FFF;
	margin: .1em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.pagination .pagination-item{
	cursor: pointer;
	color: #222222;	     
}

.pagination .prev-page,
.pagination .next-page {
	border: 0px;
  outline: 0px;
	background-color: rgba(255, 255, 255, 0.9);
	border-style: solid;
	border-width: 1px;
	background-clip: padding-box;
	border-color: rgba(0, 0, 0, 0.08);
	box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 2px 4px rgba(0, 0, 0, 0.18);
	transition: box-shadow 0.2s ease, -ms-transform 0.25s ease, -webkit-transform 0.25s ease, transform 0.25s ease;
}

.pagination .prev-page:hover,
.pagination .next-page:hover {
	border-color: rgba(0, 0, 0, 0.08);
	background-color: #FFFFFF;
	color: #000000;
	box-shadow: 0px 0px 0px 1px transparent, 0px 0px 0px 4px transparent, 0px 6px 16px rgba(0, 0, 0, 0.12);
	-webkit-transform: scale(1.04);
	-ms-transform: scale(1.04);
	transform: scale(1.04);
}

.pagination .page-item:hover {
	text-decoration: underline;
}

.pagination .current-page-item {
	color: #FFF;
	cursor: default;
	background-color: #222222;
}

.pagination .pagination-item-disabled{     
	color:  #222222;
	opacity: .5;
}
  


/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px){ 
	.items {
		width: 100%;
	}

	.items .item .item__image {
		width: 30%;	
	}
}

.map__wrapper {
	width: 100%;
  padding-left: 1em;
}

@media(max-width: 768px) {
	.main {
		padding-top: 90px;
	}

	.navbar .logo{
		height: 60px;
	}
	.navbar .container {
		justify-content: center;
	}
	
	.navbar__options {
		margin-top: .5em;
		margin-bottom: 1em;	
		flex-direction: column-reverse;	
	}

	.datepikers {
		width: 100%;
		justify-content: space-between;
	}

	.search__wrapper {
		width: 100%;
		margin-bottom: .5em;
		margin-left: 0;
	}
}

@media(max-width: 562px) {
	.main {
		padding-top: 170px;
	}
}

@media (min-width: 992px){ 
	.map__wrapper {
		width: 60%;
		padding-left: 1em;
	}

	.items__wrapper {
		width: 40%;
	}


	.items .item .item__image {
		width: 30%;	
	}
}
